/* style.css - basic styles for the project

*/
a {
    color : #ef7c61;
}
article {
	color: navy;
	margin-left: 240px;
	display: block;
}
body {
    margin      : 0;
    padding     : 0 0 50px 0;
    font-family : "Helvetica", "Arial";
    font-size   : 14px;
    line-height : 18px;
    cursor      : default;
}
footer
{
    background  : #000;
    line-height : 50px;
    height      : 50px;
    width       : 100%;
    color       : #ffffff;
    position : absolute;
    bottom   : 0;
}
pre {
	color: navy;
}
header
{
    background  : #000;
    line-height : 50px;
    height      : 50px;
    width       : 100%;
    color       : #ffffff;
}
header a
{
    display : inline-block;
}
header h1 {
	margin: 0;
	font-size: 16pt;
	color: white;
	font-weight: normal;
	float: left;
	display: inline-block;
}

label, input, .error
{
    margin : 5px 0;
}
.error
{
    color : #ef7c61;
}

/* ---------------------------------------------------------------------------
	Classes
*/ 
#buttons {
	text-align: center;
}
#left-nav {
	float: left;
	width: 200px;
}
#LHS_title {
	float: left;
}
#RHS_title {
	float: right;
}
#top-nav {
	color: navy;
	line-height: 14px;
	float: left;
}
#top-nav ul li {
    display: inline;
}
#Top_title {
	text-align: center;
}
/* ---------------------------------------------------------------------------
	Names
*/ 
.container {
    width    : 960px;
    position : relative;
    margin   : 0 auto;
}
.templatebox {
	width: 500px;
	white-space: pre-wrap;
}
/* ---------------------------------------------------------------------------
	Classes for syntax highlighting matching
*/ 
#Indication {
	color: blue;
}
#Technique {
	color: #1E8C93;
}
#Comparison {
	color: #9A09BA;
}
#Findings {
	color: #F78145;
}
#Impression {
	color: red;
}